.dark-primary-color    { background: #323232; }
.default-primary-color { background: #2a2a2a; }
.light-primary-color   { background: #f1f2f1; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #3390df; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: ##545454; }
.divider-color         { border-color: #333333; }
