body {

}

span {
  font-size: .25em;
}

.nav {
  color: #536DFE;

}

.banner-image {
  height: 53vh;
  width: 100vw;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  /*background-attachment: fixed;*/
}

#bio {
  width: 90vw;
  height: 60vh;
  margin-bottom: 5vh;
  margin-top:5vh;
  opacity: .6;
}

#bio:hover {
  opacity: 1;
}

.divider {
  margin-top: 50vh;
  width: 100vw;
  height:8vh;
}

#projects {
  z-index: 1;
}

.tab {
  border-top: 1px solid #536DFE;
  border-right: 1px solid #536DFE;
  border-left: 1px solid #536DFE;
  margin-top: 10px;
  margin-bottom: -10px;
  height: 40px;
  color: #536DFE;
  padding: .5em;
}

.card {
  border: 1px solid #536DFE;
  color: #FFFFFF;
  height: 40vh;
  width:20vw;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: -10px;
  opacity: 0.6;
}
