body {
  z-index: -1;
}

span {
  font-size: .25em;
}

.nav {
  color: #536DFE;

}

.banner-image {
  height: 50vh;
  width: 100vw;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  /*background-attachment: fixed;*/
}

#bio {
  width: 100vw;
  height: 50vh;
  margin-bottom: 5vh;
  margin-top:5vh;
  opacity: .6;

}


#portrait {
  /*margin-right: 3vw;*/
}

#about {
  margin-top: 10px;
  height: 50vh;
  width: 110vw;
}



.divider {
  margin-top: 50vh;
  width: 100vw;
  height:8vh;
}

#projects {
  z-index: 1;
}

.tab {
  border-top: 1px solid #3390df;
  border-right: 1px solid #3390df;
  border-left: 1px solid #3390df;
  margin-top: 10px;
  margin-bottom: -10px;
  width: 47vw;
  height: 40px;
  color: #3390df;
  padding: .5em;
}

.tab:hover {
  background-color: #3390df;
  color: #2a2a2a;
}

.box {
  color: #FFFFFF;
  height: 30vh;
  width:100vw;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: -10px;
  opacity: 0.6;
}
