body {
  z-index: -1;
}

span {
  font-size: .25em;
}

.nav {
  color: #536DFE;

}

header {
  position: fixed!important;
  width: 100vw;
}

.banner-image {
  height: 65vh;
  height: 120vh;
  width: 100vw;
  z-index: -1;
  background-repeat: no-repeat;
  /*background-position: center;*/
  /*position: absolute;*/
  /*background-attachment: fixed;*/
  background-attachment:fixed!important;
  overflow:hidden;
}

.divider {
  /*margin-top: 50vh;*/
  width: 100vw;
  height:8vh;
}

/*profile section*/

#bio {
  margin-top: 20px;
}

#profile {
  background-color: #FFFFFF;
  height: 40vh;
  margin: 10px;
  padding: 20px;
}

#portrait {
  margin: 10px;
}

#about {
  height: 40vh;
  margin: 10px;
  padding: 20px;
  background-color: #FFFFFF;
}

/*skills section*/

#slide {
  margin-top: 100px;
}

#slide > img {
  align: middle;
}

#slideshow {
  background-color: #FFFFFF;
  color: #212121;
  height: 40vh;
  width: 40vw;
  margin: 10px;
  padding:20px;
}

#portfolio {
  background-color: #FFFFFF;
  color: #212121;;
  margin: 10px;
  padding: 20px;
}

#projectNav {
  height: 60px;
  margin: -20px;
  align-items: center;
}

#projectTabs {
  border-radius: none;
}

#projectDetails {
  margin-top: 30px;
  background-color: #FFFFFF;
}

.btn-group-lg>.btn, .btn-lg {
  background-color: #2A2A2A;
  border-radius: 0px;
  border: 0px;
  color: #797A79;
}

.btn-secondary:hover {
  background-color: #797A79;
  border-radius: 0px;
  border-color: #202020;
  color: #2A2A2A;
  box-shadow: inset 0 0 5px #000000;
}

.bar {
  background-color: #2A2A2A;
  height: 60px;
  margin: -20px;
  align-items: center;
  color: #797A79;
  padding:15px;
}
