
<main layout="row">
  <div flex="15"></div>
  <div id="mainDiv" flex="70"  class="md-padding">
    <section layout="row">
      <div flex="20"></div>
      <div flex="60">
        <md-card id="about">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Kevin Erickson</span>
              <span class="md-subhead">Fitness pro turned developer</span>
            </md-card-title-text>
            <md-card-avatar>
              <md-user-avatar>
                <img class="md-user-avatar" src="images/Kevin-Erickson.jpg">
              </md-user-avatar>
            </md-card-avatar>
          </md-card-title>
          <md-card-actions layout="row" layout-align="start center">
            <md-button aria-label="github link" ng-href="https://github.com/hnefatafl01">
              <ng-md-icon icon="github-circle"></ng-md-icon>
            </md-button>
            <md-button aria-label="linkedin link" href="https://www.linkedin.com/in/hnefatafl01/">
              <ng-md-icon icon="linkedin"></ng-md-icon>
            </md-button>
            <md-card-icon-actions>
              <md-button class="md-icon-button" aria-label="icon">
                <md-icon md-svg-icon="icon"></md-icon>
              </md-button>
            </md-card-icon-actions>
          </md-card-actions>
          <md-card-content>
            <p> I am on a journey to sharpen mind body and spirit. Through Galvanize I have learned to implement Node.js, Express, Angularjs and PostgreSQL in full stack apps. Coding reminds me of when I was a kid and spilled my whole box of legos on the floor and got lost in building for hours on end...I'm still a LEGO-maniac only with code.</p>
          </md-card-content>
      </md-card>
      </div>
      <div flex="20"></div>
    </section>
<!-- projects -->
    <md-content id="projects" layout="row" layout-align="space-between center" layout-wrap>
      <md-toolbar layout="row" layout-align="start">
        <h2 id="project-header">Projects</h2>
      </md-toolbar>
<!-- project card -->
      <md-card id="card" ng-repeat="project in $ctrl.projects">
        <md-card-content>
          <div layout="row" layout-align="center" flex="33">
            <div layout=column flex>
              <img id="thumbnail" src="images/{{project.thumbnail}}" class="md-card-image" alt="project image">
              <md-card-actions id="project-buttons" layout="row" layout-align="space-around center">
                <md-fab ng-href="{{project.github}}"><ng-md-icon icon="github-circle"></md-fab>
                <md-fab ng-href="{{project.deployed}}"><ng-md-icon icon="link"></md-fab>
                <md-fab md-ink-ripple md-ripple-size="auto" ng-click="$ctrl.show = !$ctrl.show; $ctrl.displayedIndex = $index">
                  <ng-md-icon icon="keyboard_arrow_up"></ng-md-icon>
                </md-fab>
              </md-card-actions>
            </div>
<!-- details -->
            <div layout=column flex="66">
              <md-card-content layout="column" ng-if="$ctrl.show === true && $ctrl.displayedIndex === $index" layout="row">
                <h2>{{project.title}} <span>{{project.version}} {{project.date}}</span></h2>
                <p>{{project.description}}</p>
                <ul layout="row" layout-wrap>
                  <li ng-repeat="img in project.techImgs track by $index">
                    <img id="techImgs" ng-src="images/{{img}}" alt="tech">
                  </li>
                </ul>
              </md-card-content>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </md-content>

  </div>
  <div flex="15"></div>
  <modal></modal>
</main>
