
<div class="container container-fluid">
  <div id="bio" class="row container">
    <div class="col col-4">
      <img src="http://placehold.it/200x300" alt="portrait">
      <h4></h4>
      <h4><i class="fa fa-envelope-square" aria-hidden="true">hnefatafl01@gmail.com</i></h4>
    </div>
    <div class="col col-8">
      <div class="row container justify-content-center">
        <div class="default-primary-color col">
          <h2>About</h2>
          <p> Master cleanse succulents cardigan DIY viral. Before they sold out
              slow-carb heirloom chicharrones. Health goth migas vexillologist
              four loko everyday carry, thundercats four dollar toast food truck
              umami knausgaard jean shorts small batch cliche slow-carb.
              Viral skateboard thundercats schlitz, iPhone fam 3 wolf moon hoodie.
              Etsy man bun before they sold out you probably haven't heard of
              them gentrify fap locavore. Activated charcoal sustainable vape
              pitchfork, mumblecore schlitz pickled vinyl taxidermy DIY.
              Flexitarian occupy kitsch migas, food truck normcore direct
              trade kale chips messenger bag disrupt.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row container">
    <div class="card col col-4">
      <h2>Skills</h2>
    </div>

    <div  id="projects"  class="col col-8">
      <div class="row container justify-content-center"
            ng-repeat="project in $ctrl.projects">
        <div class="tab col dark-primary-color justify-content-space-around"  ng-click="$ctrl.displayedIndex = $index">
          <h4>{{project.title}} </h4>
          <h5><span>{{project.version}}</span></h5>
          <h5><span>{{project.date}}</span></h5>
        </div>
      </div>

      <div class="row container justify-space-between">
        <div class="card default-primary-color col"
             ng-if="$ctrl.displayedIndex === $index">
          <img src="{{project.image}}">
          <p>{{project.description}}</p>
        </div>
      </div>
    </div>

  </div>
