<main
    id="top"
    layout="column"
    layout-sm="column">
    <div layout="row">
        <div
            layout="column"
            layout-align="start center"
            flex-xs="100"
            flex-gt-xs="80"
            flex-offset-gt-xs="10">
            <about></about>
          <!-- projects-container -->
          <md-content
              id="projects-container"
              layout-gt-xs="row"
              layout-align="space-around center"
              layout-wrap>
              <md-toolbar
                class="projects-toolbar"
                layout="row"
                layout-align="start">
                  <h2 id="project-header">Projects</h2>
              </md-toolbar>
              <!-- project card -->
              <project-card
                layout="column"
                layout-align="start end"
                flex-gt-sm="30"
                flex-sm="50"
                data="project"
                index="$index"
                ng-repeat="project in $ctrl.projects track by $index">
              </project-card>
          </md-content>
        </div>
        <md-button id="fab-scroll-top"class="md-fab" aria-label="Back to top" ng-click="$ctrl.top()">
          <md-icon md-svg-src="images/ic_expand_less_white_24px.svg"></md-icon>
          <md-tooltip md-direction="top">Back to top</md-tooltip>
        </md-button>
  </div>
</main>
