<main
      layout="column"
      layout-sm="column">
  <div
      layout="row">    
    <div 
        layout="column"
        layout-align="start center"
        flex-gt-xs="80"
        flex-offset-gt-xs="10"
        >
        <about></about>
  <!-- projects -->
      <md-content 
          id="projects" 
          layout="row" 
          layout-align="start center" 
          layout-wrap>
          <md-toolbar layout="row" layout-align="start">
            <h2 id="project-header">Projects</h2>
          </md-toolbar>
  <!-- project card -->
          <project-card
            layout="column"
            flex-gt-sm="33" 
            data="project" 
            index="$index" 
            ng-repeat="project in $ctrl.projects track by $index">
          </project-card>
        <!-- <project-details project="$ctrl.data" index="$ctrl.index"></project-details> -->
      </md-content>
    </div>
  </div>
</main>
