<main
      layout="row"
      layout-sm="column">
  <div id="mainDiv"
      class="md-padding"
      flex-gt-xs="70"
      flex-offset-gt-xs="15"
      flex-gt-sm="70"
      flex-offset-gt-sm="15">
      <about></about>
<!-- projects -->
    <md-content id="projects" layout="row" layout-align=" center" layout-wrap>
      <md-toolbar layout="row" layout-align="start">
        <h2 id="project-header">Projects</h2>
      </md-toolbar>
<!-- project card -->
      <project-card data="project" ng-repeat="project in $ctrl.projects"></project-card>
    </md-content>
  </div>
</main>
