<main
      layout="row"
      layout-sm="column">
  <div id="mainDiv"
      class="md-padding"
      flex-gt-xs="70"
      flex-offset-gt-xs="15"
      flex-gt-sm="70"
      flex-offset-gt-sm="15">
    <div
        layout="row" layout-align="space-around"
        layout-xs="column"  layout-align-xs="center start"
        layout-sm="column"  layout-align-sm="center start">

        <md-card id="about"
                flex-sm="grow"
                flex-gt-xs="66"
                flex-gt-sm="66">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Kevin Erickson</span>
              <span class="md-subhead">Fitness pro turned developer</span>
            </md-card-title-text>
            <md-card-avatar>
              <md-user-avatar>
                <img class="md-user-avatar" src="images/Kevin-Erickson.jpg">
              </md-user-avatar>
            </md-card-avatar>
          </md-card-title>
          <md-card-actions layout="row" layout-align="start center">
            <md-button class="md-icon-button" aria-label="github link" ng-href="https://github.com/hnefatafl01">
              <ng-md-icon icon="github-circle"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="linkedin link" href="https://www.linkedin.com/in/hnefatafl01/">
              <ng-md-icon  icon="linkedin"></ng-md-icon>
            </md-button>
          </md-card-actions>
          <md-card-content>
            <p> I am on a journey to sharpen mind body and spirit. Through Galvanize I have learned to implement Node.js, Express, Angularjs and PostgreSQL in full stack apps. Coding reminds me of when I was a kid and spilled my whole box of legos on the floor and got lost in building for hours on end...I'm still a LEGO-maniac only with code.</p>
          </md-card-content>
      </md-card>

    </div>
<!-- projects -->
    <md-content id="projects" layout="row" layout-align=" center" layout-wrap>
      <md-toolbar layout="row" layout-align="start">
        <h2 id="project-header">Projects</h2>
      </md-toolbar>
<!-- project card -->
      <md-card id="card" class="grow"
              layout="column"
              layout-xs="row"
              layout-sm="row"
              ng-class="{'activate': $ctrl.details}"
              ng-repeat="project in $ctrl.projects">
              <!-- layout-align="center start" -->
        <md-card-content >
          <div
              layout-gt-sm="row"
              layout-align="center"
              flex="33"
              layout-sm="column"
              layout-align-xs="center" layout-align-sm="center">
            <div id="summary" layout=column flex>
              <img id="thumbnail" src="images/{{project.thumbnail}}" class="md-card-image" alt="project image">
              <md-card-actions id="project-buttons"
                              layout="row"
                              layout-align="space-around center">
                <md-button class="md-icon-button" ng-href="{{project.github}}"><ng-md-icon icon="github-circle"></md-button>
                <md-button class="md-icon-button" ng-href="{{project.deployed}}"><ng-md-icon icon="link"></md-button>
                <md-button class="md-icon-button"
                          ng-click="$ctrl.slide(); $ctrl.summary = !$ctrl.details; $ctrl.show = !$ctrl.show; $ctrl.displayedIndex = $index">
                    <ng-md-icon icon="keyboard_arrow_up"></ng-md-icon>
                </md-button>
              </md-card-actions>
              <div layout="column" layout-align="center center">
                <h2>{{project.title}}</h2>
                <h6>{{project.version}} {{project.date}}</h6>
              </div>
            </div>
<!-- details -->
            <div
                layout-gt-sm="row"
                layout-xs="row"
                layout-sm="row"
                ng-if="$ctrl.show === true && $ctrl.displayedIndex === $index">
              <md-card-content
                              id="project-details"
                              class="details"
                              layout="column"
                              flex="100"
                              flex-xs="auto"
                              flex-sm="auto">
                <p>{{project.description}}</p>
                <ul layout="row" layout-wrap>
                  <li ng-repeat="img in project.techImgs track by $index">
                    <img id="techImgs" ng-src="images/{{img}}" alt="tech">
                  </li>
                </ul>
              </md-card-content>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </md-content>

  </div>
</main>
