 <div
      layout="row" layout-align="space-around"
      layout-xs="column"  layout-align-xs="center start"
      layout-sm="column"  layout-align-sm="center start">

      <md-card id="about"
              flex-sm="100"
              flex-gt-xs="66"
              flex-gt-sm="100">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Kevin Erickson</span>
            <span class="md-subhead">Web Developer | Fitness Pro | Outdoorsman</span>
          </md-card-title-text>
          <md-card-avatar>
            <md-user-avatar>
              <img class="md-user-avatar" src="images/Kevin-Erickson.jpg">
            </md-user-avatar>
          </md-card-avatar>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <md-button class="md-icon-button" aria-label="github link" ng-href="https://github.com/hnefatafl01">
            <ng-md-icon icon="github-circle"></ng-md-icon>
            <md-tooltip md-direction="left">github profile</md-tooltip>
          </md-button>
          <md-button class="md-icon-button" aria-label="linkedin link" href="https://www.linkedin.com/in/hnefatafl01/">
            <ng-md-icon  icon="linkedin"></ng-md-icon>
            <md-tooltip md-direction="top">linkedin profile</md-tooltip>
          </md-button>
          <md-button class="md-icon-button" aria-label="codepen.io link" href="https://codepen.io/hnefatafl01/">
            <ng-md-icon  icon="code"></ng-md-icon>
            <md-tooltip md-direction="right">codepen.io</md-tooltip>
          </md-button>
        </md-card-actions>
        <md-card-content>
          <p> I am on a journey to sharpen mind body and spirit. Utilizing Node.js, Express, Angularjs and PostgreSQL to make the things. Coding reminds me of when I was a kid and spilled my whole box of legos on the floor and got lost in building for hours on end...I'm still a LEGO-maniac only with code.
            When not coding I enjoy exercising, the outdoors or raging some StarCraft 2.
          </p>
        </md-card-content>
    </md-card>
</div>
