<md-dialog aria-label="Project Details">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{project.title}}</h2>
        <span flex></span>
        <h4>{{project.date}}</h4>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons">clear</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>version: {{project.version}}</h2>
        <p>{{project.description}}</p>
        <ul layout="row" layout-wrap>
            <li ng-repeat="img in project.techImgs track by $index">
              <img ng-cloak id="techImgs" ng-src="images/{{img}}" alt="tech">
            </li>
        </ul>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-href="{{project.github}}" target="_blank" md-autofocus>
        github
      </md-button>
      <span flex></span>
      <md-button ng-href="{{project.deployed}}" ng-disabled="!checkDisabled();">
        view live
      </md-button>
      <!-- <md-button href="#">
        view video
      </md-button> -->
    </md-dialog-actions>
  </form>
</md-dialog>
