<div
    layout-gt-sm="row"
    layout-xs="row"
    layout-sm="row"
    ng-if="$ctrl.show === true && $ctrl.displayedIndex === $index">
    <md-card-content
        id="project-details"
        class="details"
        layout="column"
        flex="100"
        flex-xs="auto"
        flex-sm="auto">
        <p>{{project.description}}</p>
        <ul layout="row" layout-wrap>
            <li ng-repeat="img in project.techImgs track by $index">
            <img id="techImgs" ng-src="images/{{img}}" alt="tech">
            </li>
        </ul>
    </md-card-content>
</div>