.dark-primary-color    { background: #323232; }
.default-primary-color { background: #2a2a2a; }
.light-primary-color   { background: #f1f2f1; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #3390df; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: ##545454; }
.divider-color         { border-color: #333333; }


.peackock {background-color: #1e656d;}
.peackock-text {color: #1e656d;}

.navy {background-color: #00293c;}
.navy-text {color: #00293c;}

.ivory {background-color: #f1f3c3;}
.ivory-text {color: #f1f3c3;}

.apple {background-color: #f62a00;}
.apple-text {color: #f62a00;}
