body {
  z-index: -1;
}

#portrait {
  margin-top: 10px;
  margin-bottom: 10px;
  /*border-radius: 50%;*/
  /*height: 32vh;*/
}

#top {
  background-color: #FFFFFF;
}

span {
  font-size: .25em;
}

.nav {
  color: #f62a00;
}

i {
  color: #f62a00;
}
/*header {
  position: fixed!important;
  width: 100vw;
}*/

/*
.banner-image {
  height: 65vh;
  height: 120vh;
  width: 100vw;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  /*position: absolute;*/
  /*background-attachment:fixed!important;*/
  /*overflow:hidden;
}
*/

/*.divider {
  margin-top: 50vh;
  width: 100vw;
  height:8vh;
}*/

/*profile section*/

/*#bio {
  margin-top: 20px;
  background-color: green;
  width: 100vw;
  height: 32vh;
  padding: 0px;
  margin-bottom: -10px;
}*/

main {
  background-color: #FFFFFF;
  height: 100vh;
  width: 100vw;
}

#portrait {
  background-color: #E2E2E2;
  width: 100vw;
  padding: 10px;
  height: 32vh;
  margin-right: 10px;
  margin-left: 10px;
}

#about {
  margin: 10px;
  margin-left: 20px
  padding: 10px;
  height: 32vh;
  background-color: #E2E2E2;
  color: #00293c;
}

.box {
  height: 32vh;
  width: auto;
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #1e656d;
  color: #f1f3c3;
  text-align: center;
  padding-top: 20px;
}

.box:hover {
  background-color: #00293c;
}

#projectDetails {
  width: 100vw;
  height: 32vh;
}
